@import "./assets/vendors/css/feather.min.css";
@import "./assets/vendors/css/animate.min.css";

.navbar-content .nxl-submenu{
    display: none;
}

.navbar-content .nxl-hasmenu.active .nxl-submenu{
    display: block;
}

.nxl-navigation .navbar-content{
    overflow-y: auto;
}